.navbar {
  overflow: hidden;
  padding: 5px;
  color: white;
  background-color: #333; /* Colore di sfondo della navbar */
}

.nav-link {
  float: left; /* Imposta il float a sinistra */
  padding: 14px 16px; /* Aggiungi spaziatura al link */
  text-decoration: none; /* Rimuovi la sottolineatura del testo del link */
  color: white; /* Colore del testo del link */
}

.nav-link:hover {
  background-color: #ddd; /* Cambia il colore di sfondo del link quando ci passi sopra con il mouse */
  color: black; /* Cambia il colore del testo del link quando ci passi sopra con il mouse */
}
