{% extends 'base.html' %}

{% block title %} Lista di Immobili{% endblock %} 

{% block header1 %}
  <h1>Lista di Immobili</h1>
{% endblock %}

{% block content %} 

<!--Miniatura immagina-->
<style>
  .custom-img {
      max-width: 200px; /* Imposta la larghezza massima desiderata */
      height: auto; /* Mantiene l'aspetto proporzionato */
  }
</style>

<h2> {{ view.nome }} {{ object_list.count }} immobili </h2>
{% load static %}
{% for l in object_list %}
<br>
<div class="card mb-3"> <!-- Aggiungi la classe mb-3 per margini inferiori -->
  <div class="card-header">
      <br>
      {% if l.disponibile %}
      Immobile disponibile per l'affitto
      {% else %}
      Immobile attualmente non disponibile
      {% endif %}
  </div>
  <div class="card-body">
      <h5 class="card-title">{{ l.nome }}</h5>
      {% if l.foto %}
      <img src="{{ l.foto.url }}" alt="Foto Immobile" class="img-thumbnail custom-img""> 
      {% endif %}
      <p class="card-text">Un immobile di {{ l.zona }} al prezzo di {{ l.prezzo }}  € giornalieri</p>
      {% if l.disponibile %}
      <a href="{% url 'messaggio_prenota_ora_da_lista' l.pk %}" class="btn btn-info">
        {% else %}
        <a href="#" class="btn btn-info disabled">
          {% endif %}
          Prenota ora!</a> 
  </div>
</div>
<br>
{% endfor %}


<br>

{% endblock %}