venv-GameFinder/*
venv-GameFinder/.*
.spyproject/*
.idea/*
.idea/.*
.idea/.gitignore
__pycache__/*
__pycache__/.*
GameSearcher/.ipynb_checkpoints/*
GameSearcher/.ipynb_checkpoints./*
GameSearcher/csv/prod.csv
GameSearcher/csv/benchmark10order_202401301159.csv
GameSearcher/csv/prod0order_202312311514.csv
GameSearcher/csv/benchmark10order_202401300706.csv
GameSearcher/vanilla/__pycache__/.*
GameSearcher/vanilla/__pycache__/*
GameSearcher/vanilla/II_b/*
GameSearcher/vanilla/II_b/.*
GameSearcher/vanilla/II_d/*
GameSearcher/vanilla/II_d/.*
GameSearcher/vanilla/II_d_/*
GameSearcher/vanilla/II_d_/.*
GameSearcher/vanilla/II_g/*
GameSearcher/vanilla/II_g/.*
GameSearcher/sentiment_vanilla/.ipynb_checkpoints/*
GameSearcher/sentiment_vanilla/.ipynb_checkpoints/.*
GameSearcher/sentiment_vanilla/__pycache__/.*
GameSearcher/sentiment_vanilla/__pycache__/*
GameSearcher/sentiment_vanilla/II_b/*
GameSearcher/sentiment_vanilla/II_b/.*
GameSearcher/sentiment_vanilla/II_d/*
GameSearcher/sentiment_vanilla/II_d/.*
GameSearcher/sentiment_vanilla/II_d_/*
GameSearcher/sentiment_vanilla/II_d_/.*
GameSearcher/sentiment_vanilla/II_g/*
GameSearcher/sentiment_vanilla/II_g/.*
GameSearcher/sentiment_vanilla/.ipynb_checkpoints/*
GameSearcher/sentiment_vanilla/.ipynb_checkpoints/.*
GameSearcher/gensim_vanilla/.ipynb_checkpoints/*
GameSearcher/gensim_vanilla/.ipynb_checkpoints/.*
GameSearcher/gensim_vanilla/__pycache__/.*
GameSearcher/gensim_vanilla/__pycache__/*
GameSearcher/gensim_vanilla/II_b/*
GameSearcher/gensim_vanilla/II_b/.*
GameSearcher/gensim_vanilla/II_d/*
GameSearcher/gensim_vanilla/II_d/.*
GameSearcher/gensim_vanilla/II_g/*
GameSearcher/gensim_vanilla/II_g/.*
GameSearcher/gensim_vanilla/.ipynb_checkpoints/*
GameSearcher/gensim_vanilla/.ipynb_checkpoints/.*
GameSearcher/games/__pycache__/*
GameSearcher/games/__pycache__/.*
GameSearcher/GameSearcher/__pycache__/*
GameSearcher/GameSearcher/__pycache__/.*
benchmark/.ipynb_checkpoints/*
benchmark/.ipynb_checkpoints/.*
.ipynb_checkpoints
.ipynb_checkpoints/*
.ipynb_checkpoints/.*
/.idea/*
__pycache__
*/pycache_
*.pyc
*.pyo
prolog/
